@media  screen and (max-width: 768px) {
    .header-2 {
        display: none;
    }
    /* Медиа-запрос для ширины экрана до 765px */

        div {
            flex-wrap: wrap;
        }

        .logo-menu img {
           width: 60px;
           height: 60px; 
           display: flex;
           flex-direction: column;
        }

        .menu {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 16px;
            margin-bottom: 20px;
        }

            /* Здесь можно задать стили для меню в мобильной версии */
       .mobile-menu {
            display: flex;
            align-items: center;
            gap: 20px;
            list-style: none;
            margin-bottom: 10px;
       }

       .mobile-menu-item a {
        text-decoration: none;
        color: black;
        }

        #lezu {
            border: 0;
            text-align: center;
            width: 52px;
            height: 20px;
            cursor: pointer;
            background: none;
        }

        .ot-menu {
            display: inline-block;
            width: 2px;
            height: 11px;
        }

        .menu-item-scroll {
            transition: 0.2s;
        }

        .menu-item-scroll:hover {
            color: #FF6347;
        }

/*  */
/*  */
/*  */
.texekutyun img {
    position: relative;
    height: 420px;
    filter: brightness(0.3);
    width: 85%;
    left: 61px;
    display: flex;
    border-radius: 30px;
    box-shadow: 20px 20px 12px -2px rgba(0, 0, 0, 0.25);
    transition: .5s ease;
}

.info-title {
    position: absolute;
    top: 25%;
    left: 12%;
    color: white;
    font-size: 14px;
}
} 
@media screen and (max-width: 670px) {
    .texekutyun img {
        position: relative;
        height: 380px;
        filter: brightness(0.3);
        width: 85%;
        left: 50px;
        display: flex;
        border-radius: 30px;
        box-shadow: 20px 20px 12px -2px rgba(0, 0, 0, 0.25);
        transition: .5s ease;
    }

    .info-title {
        position: absolute;
        top: 30%;
        left: 13%;
        color: white;
        font-size: 12px;
    }

    .ot-menu-two {
        display: none;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 16px;
        margin-bottom: 20px;
    }


    #lezu {
        border: 0;
        text-align: center;
        width: 44px;
        height: 20px;
        cursor: pointer;
        background: none;
        font-size: 10px;
    }

    .mobile-menu{
        margin-bottom: 16px;
        align-items: center;
        font-size: 13px;
        gap: 22px;
    }
}

@media screen and (max-width: 599px) {

    .mobile-menu{
    gap: 22px;
    } 

    .logo-menu img {
        width: 30px;
        height: 30px; 
        display: flex;
        flex-direction: column;
     }

    .icon-menu img {
        width: 30px;
        height: 30px;
    }


    .texekutyun img {
        position: relative;
        height: 300px;
        filter: brightness(0.3);
        width: 85%;
        left: 50px;
        display: flex;
        border-radius: 30px;
        box-shadow: 20px 20px 12px -2px rgba(0, 0, 0, 0.25);
        transition: .5s ease;
    } 
    .info-title {
        position: absolute;
        top: 28%;
        left: 15%;
        color: white;
        font-size: 10px;
    }

    .flip-card {
        margin-bottom: 30px;
    }


    .menu {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 400px) {
   
    .ot-menu {
        display: none;
    }

    .ot-menu-two {
        display: inline-block;
        width: 2px;
        height: 10px;
    }

    .mobile-menu {
        font-size: 10px;
        gap: 5px;
    }

    #lezu {
    border: 0;
    text-align: center;
    width: 44px;
    height: 20px;
    cursor: pointer;
    background: none;
    font-size: 9px;
    }

    .tiitle-xek {
        font-size: 20px;
    }
    
    .texekutyun img {
        position: relative;
        height: 300px;
        filter: brightness(0.3);
        width: 85%;
        left: 36px;
        display: flex;
        border-radius: 30px;
        box-shadow: 20px 20px 12px -2px rgba(0, 0, 0, 0.25);
        transition: .5s ease;
    }


}

@media screen and (max-width: 300px) {
    .mobile-menu {
        font-size: 7px;
    }

    #lezu {
        font-size: 7px;
    }

    .tiitle-xek {
        font-size: 15px;
    }


    .flip-card-inner {
        width: 212px;
        height: 215px;
    }

    .flip-card-front img {
        width: 212px;
        height: 215px;
    }

    .action-title {
        font-size: small;
    }

    .action-info p {
        font-size: small;
        width: 245px;
    }
    .action-report {
        text-align: left;
    }

    .info-img img {
        height: 200px;
        width: 200px;
        left: 10%;
    }

    .info-title {
        position: absolute;
        top: 28%;
        left: 10%;
        color: white;
        width: 200px;
        font-size: 7px;
    }
}

@media  screen and (height: 667px) {
    .info-title h1 {
        font-size: 10px;
        margin-top: -25px;
    }

    .logo-menu img {
        width: 30px;
        height: 30px;
    }
    .info-img img {
        height: 250px;
        width: 300px;
    }

    .icon-menu img {
        width: 30px;
        height: 30px;
    }

    .tiitle-xek {
        font-size: 18px;
    }

    .flip-card {
        width: 270px;
    }

    .flip-card-inner {
        width: 212px;
        height: 215px;
    }

    .flip-card-front img {
        width: 250px;
        height: 255px;
    }

    .xekavar {
        margin-bottom: 100px;
    }

    .flip-card-back h1, h2 {
        font-size: 15px;
    }

    .flip-card-back {
        width: 250px;
        height: 255px;
    }
}

@media screen and (height: 896px) {
    .icon-menu img {
        width: 30px;
        height: 30px;
    }
    
    .logo-menu img {
        width: 30px;
        height: 30px; 
        display: flex;
        flex-direction: column;
     }

     .com-center {
        align-items: center;
     }

     .menu {
         display: flex;
         justify-content: space-around;
         align-items: center;
         margin-top: 16px;
         margin-bottom: 40px;
     }
     
         /* Здесь можно задать стили для меню в мобильной версии */
    .mobile-menu {
         display: flex;
         align-items: center;
         gap: 15px;
         list-style: none;
    }

    .mobile-menu-item a {
     text-decoration: none;
     color: black;
     font-size: 8px;
     }

     #lezu {
         border: 0;
         text-align: center;
         width: 40px;
         height: 20px;
         cursor: pointer;
         background: none;
         font-size: 8px;
     }

     .ot-menu {
         display: inline-block;
         width: 2px;
         height: 11px;
     }

     .menu-item-scroll {
         transition: 0.2s;
     }

     .menu-item-scroll:hover {
         color: #FF6347;
     }

     .texekutyun img {
        left: 30px;
        height: 230px;
     }

     .texekutyun {
        margin-bottom: 130px;
     }

     .info-title {
        position: absolute;
        top: 160px;
        left: 11%;
        color: white;
        font-size: 8px;
    }

    .tiitle-xek {
        font-size: 18px;
    }

    .flip-card {
        width: 270px;
    }

    .flip-card-inner {
        width: 212px;
        height: 215px;
    }

    .flip-card-front img {
        width: 250px;
        height: 255px;
    }

    .xekavar {
        margin-bottom: 100px;
    }

    .flip-card-back h1, h2 {
        font-size: 15px;
    }

    .flip-card-back {
        width: 250px;
        height: 255px;
    }

}
@media screen and (height: 844px) {
    .logo-menu img {
        width: 30px;
        height: 30px; 
        display: flex;
        flex-direction: column;
     }

    .icon-menu img {
        width: 30px;
        height: 30px;
    }

    .texekutyun img {
        height: 250px;
        left: 28px;
    }

    .info-title {
        font-size: 8px;
        padding: 0px -7px;
        top: 15%;
        left: 8%;
    }

    .tiitle-xek {
        font-size: 18px;
    }

    .flip-card {
        width: 270px;
    }

    .flip-card-inner {
        width: 212px;
        height: 215px;
    }

    .flip-card-front img {
        width: 250px;
        height: 255px;
    }

    .xekavar {
        margin-bottom: 100px;
    }

    .flip-card-back h1, h2 {
        font-size: 15px;
    }

    .flip-card-back {
        width: 250px;
        height: 255px;
    }
}